@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.footer {
    background-color:  rgb(210, 210, 203);
    height: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    .group {
        margin: 10px;
        width: 100px;            display: flex;
        flex-direction: column;
        justify-content: center;
        .txt {
            font-family: 'Tangerine', serif;
            padding: 2px;
            font-family: 'clacson';
            font-size: 16px;
            color: rgb(70, 69, 69);
        }
    }
}
